@font-face {
  font-family: "Ionicons";
  src: url("/packages/ionic/lib/fonts/ionicons.eot?v=1.4.1");
  src: url("/packages/ionic/lib/fonts/ionicons.eot?v=1.4.1#iefix") format("embedded-opentype"), 
       url("/packages/ionic/lib/fonts/ionicons.ttf?v=1.4.1") format("truetype"), 
       url("/packages/ionic/lib/fonts/ionicons.woff?v=1.4.1") format("woff"), 
       url("/packages/ionic/lib/fonts/ionicons.svg?v=1.4.1#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal; 
}
